<!--<footer class="mt-auto shadow-lg">
	<div class="container mt-4 px-5">
		<div class="row">
			<div class="col-12 col-md">
				<img class="mb-2" src="{{ asset('img/main_logo.png') }}" alt="" width="45" height="34">
				<small class="d-block mb-3 text-muted">&copy; 2022 - 2023</small>
			</div>
			<div class="col-6 col-md">
				<ul class="list-unstyled text-small">
					<li>
						<a class="text-muted text-decoration-none" href="https://symfony.com/">Conditions Générales</a>
					</li>
					<li>
						<a class="text-muted text-decoration-none" href="https://getbootstrap.com/">Politique de Confidentialité</a>
					</li>
					<li>
						<a class="text-muted text-decoration-none" href="https://stripe.com/fr">Mentions Légales</a>
					</li>
					<li>
						<a class="text-muted text-decoration-none" href="https://stripe.com/fr">Nous contacter</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p-3 text-center text-muted shadow-lg">
		© 2023 Copyright:
		<a class="text-muted" href="https://confort-zone.herokuapp.com/">Rate-Me.fr</a>
	</div>
</footer>-->

<footer class="bg py-4 mt-auto">
	<div class="container px-5">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-auto">
				<div class="small m-0">Copyright &copy; Rate-Me 2023</div>
			</div>
			<div class="col-auto">
				<a class="small" href="#!">Conditions Générales</a>
				<span class="mx-1">&middot;</span>
				<a class="small" href="#!">Mentions Légales</a>
				<span class="mx-1">&middot;</span>
				<a class="small" href="#!">Contact</a>
			</div>
		</div>
	</div>
</footer>
